@use "../variables" as *;

$utilities: (
  padding: (
    properties: "padding",
    class: "p",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  padding-left: (
    properties: "padding-left",
    class: "pl",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  padding-right: (
    properties: "padding-right",
    class: "pr",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  padding-top: (
    properties: "padding-top",
    class: "pt",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  padding-bottom: (
    properties: "padding-bottom",
    class: "pb",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  padding-x: (
    properties: (
      "padding-left",
      "padding-right",
    ),
    class: "px",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  padding-y: (
    properties: (
      "padding-top",
      "padding-bottom",
    ),
    class: "py",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),

  margin: (
    properties: "margin",
    class: "m",
    values: (
      0: 0,
      auto: auto,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  margin-left: (
    properties: "margin-left",
    class: "ml",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  margin-right: (
    properties: "margin-right",
    class: "mr",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  margin-top: (
    properties: "margin-top",
    class: "mt",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  margin-bottom: (
    properties: "margin-bottom",
    class: "mb",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  margin-x: (
    properties: (
      "margin-left",
      "margin-right",
    ),
    class: "mx",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),
  margin-y: (
    properties: (
      "margin-top",
      "margin-bottom",
    ),
    class: "my",
    values: (
      0: 0,
      1: $base-padding,
      2: $base-padding * 2,
      3: $base-padding * 3,
      4: $base-padding * 4,
      5: $base-padding * 5,
    ),
  ),

  opacity: (
    properties: "opacity",
    class: "opacity",
    values: (
      0: 0,
      1: 0.1,
      2: 0.2,
      3: 0.3,
      4: 0.4,
      5: 0.5,
      6: 0.6,
      7: 0.7,
      8: 0.8,
      9: 0.9,
      10: 1,
    ),
  ),

  border-radius: (
    properties: "border-radius",
    class: "br",
    values: (
      default: $border-radius,
      none: 0,
      xs: $border-radius-xs,
      sm: $border-radius-sm,
      lg: $border-radius-lg,
      xl: $border-radius-xl,
      xxl: $border-radius-xxl,
      pill: $border-radius-pill,
      full: 50%,
    ),
  ),

  display: (
    properties: "display",
    class: "d",
    values: (
      none: none,
      block: block,
      inline: inline,
      inline-block: inline-block,
      flex: flex,
      inline-flex: inline-flex,
      grid: grid,
      inline-grid: inline-grid,
    ),
  ),
  position: (
    properties: "position",
    class: "p",
    values: (
      static: static,
      relative: relative,
      absolute: absolute,
      fixed: fixed,
      sticky: sticky,
    ),
  ),

  font-size: (
    properties: "font-size",
    class: "fs",
    values: (
      sm: $font-size-sm,
      md: $font-size,
      lg: $font-size-lg,
      xl: $font-size-xl,
      xxl: $font-size-xxl,
    ),
  ),
);
