@each $key, $val in CreateThemeColorVariationsMap() {
  .text-#{ $key } {
    color: $val !important;
  }
  .bg-#{ $key } {
    background-color: $val !important ;
  }

  .text-hover-#{ $key } {
    &:hover {
      color: $val !important ;
    }
  }
  .bg-hover-#{ $key } {
    &:hover {
      background-color: $val !important;
    }
  }
}
