@use "sass:math";

$utilities: (
  "padding": (
    "cssNames": (
      "padding",
      "padding-inline-start",
      "padding-inline-end",
      "padding-top",
      "padding-bottom",
    ),
    "prefix": (
      "p",
      "ps",
      "pe",
      "pt",
      "pb",
    ),
    "values": (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 4,
      "4": 6,
      "5": 8,
    ),
    "baseValue": $padding-base,
  ),

  "margin": (
    "cssNames": (
      "margin",
      "margin-inline-start",
      "margin-inline-end",
      "margin-top",
      "margin-bottom",
    ),
    "prefix": (
      "m",
      "ms",
      "me",
      "mt",
      "mb",
    ),
    "values": (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 4,
      "4": 6,
      "5": 8,
    ),
    "baseValue": $margin-base,
  ),

  "opacity": (
    "cssNames": (
      "opacity",
    ),
    "prefix": (
      "o",
    ),
    "values": (
      "0": 0,
      "1": 0.1,
      "2": 0.2,
      "3": 0.3,
      "4": 0.4,
      "5": 0.5,
      "6": 0.6,
      "7": 0.7,
      "8": 0.8,
      "9": 0.9,
      "10": 0.1,
    ),
    "baseValue": 100%,
  ),
  "font-size": (
    "cssNames": (
      "font-size",
    ),
    "prefix": (
      "fs",
    ),
    "values": (
      "xs": $font-size-xs,
      "sm": $font-size-sm,
      "base": $font-size-base,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
    ),
    "baseValue": 1,
  ),
);

@each $utilityName, $utility in $utilities {
  $cssNames: map-get($utility, "cssNames");
  $prefixes: map-get($utility, "prefix");
  $values: map-get($utility, "values");
  $baseValueModifier: map-get($utility, "baseValue");

  $baseCssName: nth($cssNames, 1);
  $basePrefix: nth($prefixes, 1);

  @each $key, $val in $values {
    .#{$basePrefix}x-#{$key} {
      #{$baseCssName}-inline-start: $val * $baseValueModifier !important;
      #{$baseCssName}-inline-end: $val * $baseValueModifier !important;
      writing-mode: horizontal-tb;
    }
    .#{$basePrefix}y-#{$key} {
      #{$baseCssName}-top: $val * $baseValueModifier !important;
      #{$baseCssName}-bottom: $val * $baseValueModifier !important;
      writing-mode: horizontal-tb;
    }
  }

  @for $i from 1 through length($cssNames) {
    $cssName: nth($cssNames, $i);
    $prefix: nth($prefixes, $i);

    @each $key, $val in $values {
      .#{$prefix}-#{$key} {
        #{$cssName}: $val * $baseValueModifier !important;
      }
    }
  }
}

// @each $utilityName, $utility in $utilities {
//   @each $valueName, $value in map-get($utility, "values") {
//     @each $cssName in map-get($utility, "cssNames") {
//       .#{$utilityName}-#{$cssName}-#{$valueName} {
//         #{$cssName}: $value;
//       }
//     }
//   }
// }
// $utilities: (
//   "padding": (
//     "prefix": "p",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),
//   "padding-left": (
//     "prefix": "pl",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),
//   "padding-right": (
//     "prefix": "pr",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),
//   "padding-top": (
//     "prefix": "pt",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),
//   "padding-bottom": (
//     "prefix": "pb",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),
//   "padding-x": (
//     "prefix": "px",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),
//   "padding-y": (
//     "prefix": "py",
//     "values": (
//       "0": "0",
//       "1": $padding-base,
//       "2": $padding-base * 2,
//       "3": $padding-base * 4,
//       "4": $padding-base * 6,
//       "5": $padding-base * 8,
//     ),
//   ),

//   "margin": (
//     "prefix": "m",
//     "values": (
//       "0": "0",
//       "1": $margin-base,
//       "2": $margin-base * 2,
//       "3": $margin-base * 4,
//       "4": $margin-base * 6,
//       "5": $margin-base * 8,
//     ),
//   ),
//     "margin-left": (
//         "prefix": "ml",
//         "values": (
//         "0": "0",
//         "1": $margin-base,
//         "2": $margin-base * 2,
//         "3": $margin-base * 4,
//         "4": $margin-base * 6,
//         "5": $margin-base * 8,
//         ),
//     ),
//     "margin-right": (
//         "prefix": "mr",
//         "values": (
//         "0": "0",
//         "1": $margin-base,
//         "2": $margin-base * 2,
//         "3": $margin-base * 4,
//         "4": $margin-base * 6,
//         "5": $margin-base * 8,
//         ),
//     ),
//     "margin-top": (
//         "prefix": "mt",
//         "values": (
//         "0": "0",
//         "1": $margin-base,
//         "2": $margin-base * 2,
//         "3": $margin-base * 4,
//         "4": $margin-base * 6,
//         "5": $margin-base * 8,
//         ),
//     ),
//     "margin-bottom": (
//         "prefix": "mb",
//         "values": (
//         "0": "0",
//         "1": $margin-base,
//         "2": $margin-base * 2,
//         "3": $margin-base * 4,
//         "4": $margin-base * 6,
//         "5": $margin-base * 8,
//         ),
//     ),
//     "margin-x": (
//         "prefix": "mx",
//         "values": (
//         "0": "0",
//         "1": $margin-base,
//         "2": $margin-base * 2,
//         "3": $margin-base * 4,
//         "4": $margin-base * 6,
//         "5": $margin-base * 8,
//         ),
//     ),

// );
