$card-border-thickness: $border-thickness-base;
$card-border-radius: $border-radius-base;
$card-padding: $padding-base;
$card-margin: $margin-base;
$card-box-shadow: $box-shadow-base;
$card-font-size: $font-size-base;
$card-line-height: $line-height-base;

.card {
  display: flex;
  position: relative;
  flex-direction: column;

  border: $card-border-thickness solid $secondary;
  border-radius: $card-border-radius;
  font-size: $card-font-size;

  .card-body {
    padding: $card-padding;
    margin: $card-margin;
  }
  .card-header {
    padding: $card-padding;
    border-bottom: $card-border-thickness solid $secondary;
    border-start-start-radius: $card-border-radius;
    border-start-end-radius: $card-border-radius;
  }
  .card-footer {
    padding: $card-padding;
    border-top: $card-border-thickness solid $secondary;
    border-end-start-radius: $card-border-radius;
    border-end-end-radius: $card-border-radius;
  }
  .card-title {
    font-weight: bold;
    margin: 0;
    font-size: $card-font-size;
    line-height: $card-line-height + 0.3rem;
  }
  .card-subtitle {
    color: $secondary;
    margin-top: 0;
    margin-bottom: 0.25rem;
    line-height: $card-line-height;
    font-size: $card-font-size;
  }
  .card-text {
    font-size: $card-font-size;
  }
  .card-link {
    margin-right: 1rem;
  }

  .card-img-top {
    max-width: 100%;
    border-start-start-radius: $card-border-radius;
    border-start-end-radius: $card-border-radius;

    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
  .card-img-bottom {
    max-width: 100%;
    border-end-start-radius: $card-border-radius;
    border-end-end-radius: $card-border-radius;

    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }
}
