$border-style: solid !default;
$border-width: 1px !default;
//border-radius-variables
$border-radius: 0.375rem !default;
$border-radius-xs: 0.125rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;
