@import "./_reset.css";

//Variables
@import "./Variables/_colors.default.scss";
@import "./Variables/_theme.main.scss";
@import "./Variables/_variables.main.scss";

//Functions
@import "./Utilities/_colors.utilities.scss";
// Base & Layout

// Colors
// Components
@import "./Components/cards/card.scss";
@import "./Components/buttons/button.scss";
// Utilities

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
